.Menu {
    height: 100%;
    position: fixed;
    z-index: 50;
}

.Menu > :first-child {
    height: 100%;
}

.Menu-itemsList {
    width: 240px;
}

.Menu-labelEditIcon,
.Menu-labelEditIcon {
    display: block;
}

@media (any-hover: hover) {
    .Menu-labelEditIcon {
        display: none;
    }
}